
<header class="header" [class.position-fixed]="showMenu" [class.position-default]="hidingMenu" [class.fixed]="isFixed" [class.visible]="isVisible">
  <div class="content-header">

    <div class="content-logo">
      <div class="mbl-icon-hamburger" (click)="openMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="logo">
        <img src="./images/sebasdev.webp" alt="">
      </div>
    </div>

    <div class="content-navbar">
      <nav>
        <div class="mbl-nav-bag"></div>
        <div class="menu">
          <div class="primary-menu">
            <ul>
              <li class="element-primary"><a href="#home" class="home">// home</a></li>
              <li class="element-primary"><a href="#aboutme" class="aboutme">// aboutme</a></li>
              <li class="element-primary"><a href="#experience" class="experience">// experience</a></li>
              <li class="element-primary"><a href="#projects" class="projects">// projects</a></li>
              <li class="element-primary"><a href="#contact" class="contact">// contact</a></li>
            </ul>
          </div>
          <div class="mbl-menu" [class.show-menu]="showMenu" [class.hide-menu]="hidingMenu">
            <div class="mbl-menu-icon" (click)="closeMenu()">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <ul>
              <li class="mbl-element-primary">
                <a href="#home" [class.show-menu]="showMenu" [class.hide-menu]="hidingMenu" 
                  (click)="navigateAndClose($event, 'home')"
                >
                  // home
                </a>
              </li>
              <li class="mbl-element-primary">
                <a href="#aboutme" [class.show-menu]="showMenu" [class.hide-menu]="hidingMenu" 
                  (click)="navigateAndClose($event, 'aboutme')"
                >
                  // aboutme
                </a>
              </li>
              <li class="mbl-element-primary">
                <a href="#experience" [class.show-menu]="showMenu" [class.hide-menu]="hidingMenu"
                  (click)="navigateAndClose($event, 'experience')"
                >
                  // experience
                </a>
              </li>
              <li class="mbl-element-primary">
                <a href="#projects" [class.show-menu]="showMenu" [class.hide-menu]="hidingMenu"
                  (click)="navigateAndClose($event, 'projects')"
                >
                  // projects
                </a>
              </li>
              <li class="mbl-element-primary">
                <a href="#contact" [class.show-menu]="showMenu" [class.hide-menu]="hidingMenu"
                  (click)="navigateAndClose($event, 'contact')"
                >
                  // contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

  </div>
</header>
