<footer>
    <section class="contact">

        <div class="content-text" data-aos="fade-right">
            <p class="name">Sebastián Velásquez Briceño</p>
            <p class="prof">Desarrollador web Junior</p>
        </div>

        <div class="content-icons">
            <ul>
                <li data-aos="zoom-in-up" data-aos-delay="300">
                    <a href="https://www.linkedin.com/in/c%C3%A9sar-sebast%C3%ADan-vel%C3%A1squez-brice%C3%B1o-145169319/" target="_blank" class="linkedin">
                        <img src="./images/icons/linkedin.svg" alt="">
                    </a>
                    <span class="linkedin-name">Linkedin</span>
                </li>
                <li data-aos="zoom-in-up" data-aos-delay="400">
                    <a href="https://github.com/sebastian-VB" target="_blank" class="github">
                        <img src="./images/icons/github.svg" alt="">
                    </a>
                    <span class="github-name">Github</span>
                </li>
                <li data-aos="zoom-in-up" data-aos-delay="400">
                    <a href="mailto:sebas99vb@gmail.com" target="_blank" class="gmail">
                        <img src="./images/icons/gmail.svg" alt="">
                    </a>
                    <span class="gmail-name">Gamil</span>
                </li>
                <li data-aos="zoom-in-up" data-aos-delay="600">
                    <a href="https://acortar.link/ym3ZCn" target="_blank" class="whatsapp">
                        <img src="./images/icons/whatsapp.svg" alt="">
                    </a>
                    <span class="whatsapp-name">WhatsApp</span>
                </li>
            </ul>
        </div>

    </section>
</footer>
