<section class="aboutme">

    <div class="aboutme-title">
        <h2 class="title-section">Sobre mi</h2>
    </div>

    <div class="aboutme-content">
        <div class="content">
            <div class="aboutme-info">
                <div class="aboutme-img">
                    <img src="./images/developer-avatar.svg" alt="">
                </div>
                <div class="info">
                    <span></span>
                    <p>{{info}}</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="aboutme-skills">
                <app-skills />
            </div>
        </div>
    </div>
</section>
