@import "tailwindcss";

:root{
    --bg-page: rgb(26, 25, 29);
    --bg-aboutme: rgb(21, 33, 46);
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: var(--bg-page);
    color: white;
}